.nav {
    display: flex;
    justify-content: space-evenly;

    align-items: center;
    margin-top: 20px;
}

.navLeft {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navRight {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navHome,
.navCourses,
.navUser {
    color: #6f8872ff;
    text-decoration: none;
}

.navSignIn,
.navSignUp {
    border-color: #6f8872ff;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;

    color: #6f8872ff;
    text-decoration: none;

    width: 90px;
    height: 30px;
    line-height: 25px;
    /* height: 50px; */

    text-align: center;
}

.navSignIn {
    background-color: #6f8872ff;
    color: white;
}
