.page {
    padding-left: 5%;
    padding-right: 5%;
}

.userInfoRoot {
    height: 230px;
    margin-top: 20px;
    background-image: url("../assets/filler_dark.png");
    background-size: cover;
    background-position-y: 70%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.userImage {
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 75px;
}

.userInfo {
    height: 150px;
    width: 70%;
    border-radius: 15px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.707);
}

.userName {
    font-size: 20px;
}

.userOccupation {
    color: gray;
    font-size: 13px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.userDescription {
    font-size: 15px;
    margin-top: 10px;
}

.courseSelectionRoot {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    align-items: center;
}

.coursesSeparator {
    width: 0.9px;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.418);
}

.courseListRoot {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    justify-content: center;
}

.courseItem {
    display: inline-block;
    width: 200px;
    /* height: 100px; */

    margin: 10px;

    border-style: solid;
    border-color: rgba(128, 128, 128, 0.405);
    border-width: 1px;
    border-radius: 10px;
    overflow: hidden;
}

.courseImage {
    width: 200px;
    height: 140px;
    background-image: url("../assets/filler.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.courseName {
    margin-left: 15px;
    margin-top: 10px;

    font-weight: 700;
}

.courseLocationRoot {
    margin-left: 15px;
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 13px;
}

.courseLocationIcon {
    border-style: solid;
    border-width: 4px;

    height: 15px;
    width: 15px;
    border-radius: 7.5px;
}

.coursePrice {
    color: rgba(0, 0, 0, 0.41);
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}
